*{
    padding: 0;
    margin: 0; 
    
   }
   li{
       list-style: none;
   }
   html{
       background: #EDF2C5;
       width: 1260px;
       height: 940px;
       padding: 0px 160px;
       
   }
   .container{
       max-width: 940px;
       /* margin:auto 160px ; */
       padding: 0px 160px;
      
   }
   .title{
       margin-top: 53px;
       display: flex ;
       justify-content: space-between;
      
       
   }
   .title h1{
       font-weight: 1000;
       font-size: 44px;
       font-family: Arial;
       box-shadow: black 36px;
       color: #778A50;
       
   }
   .btn{
       display: flex;
       align-items: center;
   }
   .btn_fb{
       width: 25px;
       height: 25px;
       margin-right: 5px;
   }
   .btn_ig{
       height: 25px;
       margin-left: 5px;
       
       padding-right:10px ;
       border-right: 1px solid #778A50;
   }
   .btn_login{
       width: 60px;
       height: 25px;
       border-radius: 3px;
       border: 1px solid #778A50 ;
       /* box-sizing: border-box; */
       margin-right: 5px;
       margin-left: 10px;
   }
   .btn_login p{
       font-size: 14px;
       font-weight: bold;
       font-family: Arial;
       color:#778A50 ;
       margin: 5px auto;
       text-align: center;
   }
   .btn_join{
       width: 60px;
       height: 25px;
       border-radius: 3px;
       border: 1px solid #778A50 ;
       /* box-sizing: border-box; */
       margin-left: 5px;
      
   }
   .btn_join p{
       font-size: 14px;
       font-weight: bold;
       font-family: Arial;
       color:#778A50 ;
       margin: 5px auto;
       text-align: center;
   }
   .navbar{
       background: #778A50;
       width: 940px;
       height: 44px;
       margin-top: 8px;
   }
   .navbar_inner{
       display: flex;
   }
   .navbar_inner li{
       font-size: 16px;
       font-family: Arial;
       font-weight: 900;
       color: #EDF2C5;
   list-style: none;
   margin: 10px 30px;
   }
   
   .main_picture{
       margin-top: 20px;
   }
   .artical{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   }
   .left_title{
       
       width: 445px;
       height: 45px;
       background-color:#778A50 ;
       border-radius: 3px;
       margin-top: 30px;
       
   }
   .left_title h1{
       font-size: 16px;
       font-weight: 900;
       font-family: Arial;
       color: #EDF2C5 ;
      padding-left: 30px;
       padding-top: 10px;
      padding-bottom: 10px;
   }
   .right_title{
       
       width: 445px;
       height: 45px;
       background-color:#778A50 ;
       border-radius: 3px;
       margin-top: 30px;
       
   }
   .right_title h1{
       font-size: 16px;
       font-weight: 900;
       font-family: Arial;
       color: #EDF2C5 ;
      padding-left: 30px;
       padding-top: 10px;
      padding-bottom: 10px;
   }
   .left_picture ul{
       display: flex;
   }
   .left_picture img{
       width: 140px;
       height: 140px;
       margin:15px 12px 0px 0px ;
       
   }
   .right_contact{
       width: 445px;
       height: 140px;
       margin-top: 15px;
       background-color:#F7FBDA ;
   }
   .top_paragraph{
       margin: 16px 0px 16px 15px;
       font-size: 12px;
       padding-bottom:16px ;
       font-weight: 500;
       font-family: Arial;
       width: 414px;
       line-height: 1.33;
       border-bottom: solid 1px #7D7D7D;
   }
   .down_paragraph{
       line-height: 1.83;
       font-size: 12px;
       font-family: Arial;
   margin-left: 15px;
   margin-bottom: 16px;
   }
   .footer{
       width: 1580px;
       height: 60px;
       margin-left: -160px;
       margin-top: 35px;
       background-color: #778A50;
       
   }
   .footer p{
       font-size: 12px;
       font-family: Arial;
       text-align: center;
       padding-top:24px ;
       padding-bottom: 25px;
       color: #EDF2C5 ;
   }